@font-face {
    font-family: mainfont;
    src: url("./Fonts/Montserrat-Regular.woff");
}

body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: mainfont;
}

.sidenav {
    height: 100%;
    width: 265px;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font-family: mainfont;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px
}

.ned {
    margin: 40px;
    height: 200px;
}

@media only screen and (max-width: 700px) {
    .sidenav {
        padding-top: 15px;
        background: rgba(0, 0, 0, 0.7);
    }

    .sidenav a {
        color: rgba(200, 200, 200, 1);
        font-size: 18px;
    }

    #openbutton {
        display: block;
    }

    .topnav {
        display: none;
    }

    .closebtn {
        display: block !important;
    }

    .body-content {
        height: 100%;
        width: 100%;
    }

    .user-info {
        display: block;
    }

    .logout-button-side {
        display: block;
    }

    .logo {
        top: 50px;
    }

    .mobile-menu {
        padding-top: 30%;
    }

    .ned {
        padding-left: 0%;
    }
}



@media screen and (min-width: 700px) {
    .user-info {
        display: none;
    }
    .sidenav {
        width: 265px;
        /* background: rgba(40, 40, 40, 1); */
        background: #102E4A;
        
    }

    .sidenav a {
        color: rgb(200, 200, 200);
        font-size: 18px;
    }

    .closebtn {
        display: none !important;
    }

    #openbutton {
        display: none;
    }

    .topnav {
        /* position: absolute; */
        display: block;
        background-color: #55c1ff;
        overflow: hidden;
        width: calc(100% - 265px);
        margin-left: 265px;
    }


    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        /* background-color: rgba(0, 100, 100, 0.5); */
        color: white;
    }

    .body-content {
        left: 265px !important;
        width: calc(100% - 265px);
        height: calc(100% - 52px);
    }

    .logout-button-side {
        display: none;
    }
}



.body-content {
    padding: 50px;
    overflow-x: hidden;
    position: absolute;
    /* background: rgba(255, 255, 255, 1); */
    background: url("https://media.discordapp.net/attachments/705752605456072714/797541426401378384/preview16.png");
    /* background-color: #ffffff; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2354c8e1' fill-opacity='0.11'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); */
    background-size: 30%;
    /* background: rgba(0, 100, 100, 1); */
    /* background: url("Pictures/backgroundBeter4.jpg") no-repeat center center fixed !important; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover !important; */
}

.container-info {
    /* background: rgba(0, 0, 0, 0.7); */
    background: rgba(240, 240, 240, 1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 6px;
    min-height: 200px;
    margin: 25px 25px 25px 25px;
    color: rgba(60, 60, 60, 1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .container-info:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }

.container-info .container-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.container-info .container-content {
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.light-dark-check:checked ~ *.container-info {
    height: 1000px !important;
    background: pink !important;
}

.message {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px 20px 0px;
}

.message:last-child {
    border: none !important;
}

.message .message-title {
    font-weight: bold;
}

.footer {
    position: absolute;
    width: 80vw;
}

.footer hr {
    margin-right:5%;
}

.navigator-heading {
    font-family: mainfont;
    color: white;
    font-size: 23px;
    margin-left: 20px;
}

.navigator-category-content:last-child {
    margin-bottom: 20px;
}

.eind {
    background: #91FF85 !important;
}

.odd {
    background-color: rgba(20,20,20,0.1) !important;
}

.odd .eind {
    background: #72C969 !important;
}

.red {
    color:red;
}

#loader {
    border: 16px solid rgba(255, 255, 255, 0.5);
    /* Light grey */
    border-top: 16px solid rgb(27, 40, 61);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 10px;
    margin-top: 230px;
}

    #loader:after {
        position: absolute;
        bottom: 100%;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#search-overlay {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#loader-text {
    font-family: sans-serif;
    text-align: center;
}

.jelly-form {
    position: relative;
}

.jelly-form .form-control {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 2px solid #0099CC!important;
    box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    outline: none!important;
    font-size: 1.0em!important;
    padding: 0.6em 0.6em!important;
    width: 100%!important;
}

.jelly-form:before, .jelly-form:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    height: 6px;
    border-left: 2px solid #0099CC;
}

.jelly-form:before {
    left: 0;
}

.jelly-form:after {
    right: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(20,20,20,0.1) !important;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0px 5px 0px!important;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

table, th, tr {
    border:0px!important;
}

h2 {
    color: #777CA3 !important;
    font-family: mainfont, cursive !important;
    font-size: 32px !important;
    font-weight: normal !important;
    line-height: 32px !important;
    margin: 0 0 18px !important;
    text-shadow: 1px 0 0 #fff !important;
}

* {
    box-sizing: border-box!important
}

.container {
    width: 100%!important;
    background-color: #ddd!important;
    padding-left:0px!important;
    padding-right:0px!important;
    margin-bottom: 10px!important;
    border-radius: 5px;
}

.skills {
    text-align: right !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white !important;
    background-color: #82C6FA !important;
    border-radius: 5px;
    border: 1px solid gray;
}

.sem {
    width: 100%; 
}

.sam {
    width: 95%;
}

.joep {
    width: 92%;
}

.henk {
    width: 87%;
}

.pieter {
    width: 86%;
}

.jan-piet {
    width: 79%;
}

.abigail {
    width: 76%;
}

.joey {
    width: 75%;
}

.danielle {
    width: 74%;
}

.may {
    width: 72%;
}

.logged-in {
    background-color: #DCECFC!important;
}

.container-info2 {
    /* background: rgba(0, 0, 0, 0.7); */
    background: rgba(240, 240, 240, 1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 6px;
    min-height: 200px;
    margin: 25px 25px 25px 25px;
    color: rgba(60, 60, 60, 1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 125%;
}

.container-info2 .container-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.normal {
    width: 100%!important;
}