body {
    background-image: url("Pictures/backgroundBeter.jpg")!important;
    color:#000000!important;
    padding-top: 0px !important;
}

.bodycontainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(50,50,50, 0.05);
    backdrop-filter: blur(5px);
}

.form-control {
    background-color:white!important;
}

.header-img {
    margin: -8px 0 0 -8px!important;
}

.form-control {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(10px) !important;
    color: white !important;
    border-radius: 0px !important;
    transition: ease-out 0s !important;
    border: none !important;
    border-bottom: 2px solid white!important;
}

.btn-success {
    border-radius: 0px !important;
    backdrop-filter: blur(5px)!important;
    background-color: rgba(0, 200, 100, 0.7)!important;
    border: none !important;
}

.btn-info {
    border-radius: 0px !important;
    backdrop-filter: blur(5px)!important;
    background-color: rgba(0, 100, 200, 0.7)!important;
    border: none !important;
}

.container-form {
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    width: fit-content;
    min-width: 500px;
    color: rgba(200, 200, 200, 1);
    border-radius: 5px;
    
}

.body-content {
    margin-top: 50px;
}


.container-info {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    min-height: 200px;
    margin: 25px 25px 25px 25px;
    color: rgba(80, 80, 80, 1);
}

.container-info .container-title {
    
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.container-info .container-content {
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.message {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px 20px 0px;
}

.message:last-child {
    border: none !important;
}

.message .message-title {
    font-weight: bold;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Navbar container */
.topbar {
    overflow: hidden;
    background-color: rgba(0,0,0, 0.8);
    text-decoration: none;
}

/* Links inside the navbar */
.topbar a {
    float: left;
    font-size: 16px;
    color: rgba(200, 200, 200, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar a:link {
    color: rgba(200, 200, 200, 1);
    text-decoration: none;
}

/* The dropdown container */
.dropdown2 {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown2 .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgba(200, 200, 200, 1);
    text-align: center;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border-radius: 0px;
}

/* Add a red background color to navbar links on hover */
.topbar a:hover, .dropdown2:hover .dropbtn {
    background-color: rgba(255,255,255, 0.2);
    color: rgba(200, 200, 200, 1);
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(0,0,0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
    float: none;
    color: rgba(200, 200, 200, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content2 a:hover {
    background-color: rgba(255,255,255, 0.2);
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
    display: block;
}

.topbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topbar a:not(:first-child) {
        display: none;
    }

    .topbar > *:not(:last-child) {
        display: none;
    }

    .topbar > :first-child {
        display: block;
    }

    .topbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topbar.responsive {
        position: relative;
        float: none;
    }

    .topbar > *:not(:last-child) {
        display: block;
    }

    .topbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
